{% extends 'base.html.twig' %}
{% block body %}
    <section class="static_page-block">
        {% include('static_page/about/index.html.twig') %}
        {{ include('blocks/certificate.html.twig') }}
    </section>

{% endblock %}