
.navbar {
    padding: 0 !important;
}

.header-page__logo img {
    width: 30%;
}

.header_card_submenu {
    display: none;
    position: absolute;
    background: #fff;
    padding: 18px;
    -webkit-box-shadow: 0 14px 28px rgb(0 0 0 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
    box-shadow: 0 14px 28px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .22);
}

/*.header_card_submenu_item {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*}*/
/*.header_card_submenu_item a{*/
/*    margin-bottom: 10px;*/
/*}*/
/*.img-svg {*/
/*    fill: #44d108;*/
/*    width: 20px;*/
/*    height: 20px;*/
/*}*/

.spis-block {
    text-align: left;
    padding-left: 40px;
}

.spis-block a {
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
    font-size: 18px;
    margin-left: 15px;
    position: relative;
}

@media (max-width: 992px) {
    .navbar-nav .punkt {
        display: block;
        padding: 14px 25px;
        margin: 0;
        border-bottom: 1px solid rgba(35, 35, 35, .1);
        border-bottom: 1px solid #f3f3f3;
    }
}

.addr-open span:before {
    position: absolute;
    content: "";
    width: 20px;
    height: 15px;
    background: url(../img/icon/addr-str.svg) center center no-repeat;
    background-size: contain;
    top: 69%;
    margin-left: -21px;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.addr-open {
    margin-top: 5px;
}

/*.navbar__mobile-right .header-logo img {*/
/*    width: 80%;*/
/*}*/
.navbar {
    display: flex;
}

@media (max-width: 1051px) {
    .navbar__mobile-right .header-logo img {
        width: 80%;
    }

    .navbar {
        display: unset;
    }
}

.header-addrw-text {
    text-align: center;
    display: flex;
    flex-direction: column;
    border-bottom: 2px solid #0039a6;
    padding-bottom: 10px;
}


.header-addrw-text-zag {
    font-weight: 700;
    line-height: 1;
    padding-bottom: 5px;
}

.header-addrw-text a {
    font-weight: 700;
    display: block;
    color: #232323;
    line-height: 1;
    padding-top: 6px;
}

.header-addrw-button {
    display: flex;
    justify-content: center;
    padding: 10px 0 10px 0;
}

@media (max-width: 756px) {
    .header_card_submenu {
        top: 132px;
    }

    .spis-block {
        padding-left: 0;
    }

    .spis-block a {
        font-size: 11px;
    }
}

.promo {
    background: url(../img/3.jpg) fixed center no-repeat;
    margin-top: 60px;
    background-size: cover;
}

.promo .zag {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.promo .slick-prev {
    position: relative;
    top: 188px;
    left: -40px;
    background: url(../img/icon/slide-left-white.svg) center no-repeat;
    background-size: contain;
}

.promo .slick-next {
    position: relative;
    top: 188px;
    right: -40px;
    background: url(../img/icon/slide-right-white.svg) center no-repeat;
    background-size: contain;
}

/*новый дизайн прайса*/
.calc__price_title {
    text-align: center;
    color: #e21e1e;
    font-weight: 600;
    font-size: 50px;
    margin-bottom: 40px;
}

.calc__price_category {
    display: flex;
    align-items: center;
    border: 1px solid #585151;
    margin-bottom: 10px;
    border-radius: 20px;
    justify-content: space-between;
    padding: 13px;
    cursor: pointer;
}

.cals__price_category_left {
    display: flex;
    align-items: center;
}

.calc__price_category span {
    font-size: 20px;
    font-weight: 700;
    margin-left: 25px
}

.calc__descr-item {
    padding: 10px 0 9px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

.calc__descr-item:not(:last-child) {
    border-bottom: 1px solid #d0d0d0;
}

.calc__descr-name {
    font-family: Roboto, sans-serif;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
}

.calc__descr-name a {
    color: #0039a6;
}

.calc__descr-name a:hover {
    color: #44d108;
}

.first {
    color: #44d108 !important;
}

.calc__descr-value {
    font-family: Roboto, sans-serif;
    min-width: 80px;
    font-size: 15px;
    line-height: 1.2;
    font-weight: 400;
}

.img-svg {
    fill: #047BBF;
    width: 40px;
    height: 40px;
}

.calc__price_subcategory {
    display: none;
    margin-left: 30px;
}

.subcategory_open {
    display: block;
}

.price_active {
    background: #0039a6;
    color: white;
}

.price_active .price_btn path {
    fill: white;
}

.price_active .img-svg {
    fill: white !important;
}

.price_active .price_btn {
    -webkit-transform: rotate(45deg) !important;
    transform: rotate(45deg) !important;
}

.under_price {
    margin-top: 20px;
    font-size: 1.05rem;
}

.important_block {
    border-left: 4px solid #e21e1e;
    padding-left: 6px;
    margin-bottom: 40px;
}

.active_svg {
    fill: white;
}

.active_svg .st02 {
    stroke: white;
}

.active_svg .st01 {
    fill: white;
}

.active_svg .fil010 {
    stroke: white;
}

.active_svg .fil011 {
    fill: white !important;
}

.active_svg .fil013 {
    fill: white !important;
}

.price_active .img-svg .fil011 {
    fill: white !important;
}

.btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 280px;
    height: 65px;
    border: 1px solid #585151;
    border-radius: 1px;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
    text-transform: uppercase;
    color: #282b2f;
    -webkit-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    font-family: "Roboto", sans-serif;
}

.btn:hover {
    background-color: #0039a6;
    color: #fff;
}


.calc__btns {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
}

@media (max-width: 1024px) {
    .calc__btns {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (max-width: 576px) {
    .calc__btn-mid {
        width: 260px;
        height: 50px;
    }

    .calc__descr-value {
        min-width: unset;
    }

    .calc__descr-name {
        font-size: 14px;
    }

    .calc__price_subcategory {
        margin-left: 15px;
    }

    .block1-wraper {
        padding-top: 10px;
    }

}

.calc__btn {
    margin-bottom: 20px;
}

@media (max-width: 576px) {
    .calc__price_category span {
        font-size: 14px;
    }

    .btn {
        width: 183px;
        height: 44px;
        font-size: 11px;
    }

    .calc__btn {
        width: 260px;
        height: 50px;
        margin-bottom: 25px;
    }

    .calc__btn-mid {
        width: 260px !important;
    }
}

.calc__btn-mid {
    width: 348px;
    background-color: #0039a6;
    color: white;
}

.calc__btn-mid:hover {
    background-color: white;
    color: #1e1e1e;
}

.under_price {
    margin-top: 20px;
    font-size: 1.05rem;
}

.galka_diagnostika {
    font-size: 16px;
}

.zvezda_diagnostika {
    font-size: 16px;
}

.block_addresses {
    background-color: var(--col-content);
    padding: 24px 0 40px 0;
}

.block_addresses--card {
    flex-basis: 24%;
    padding-left: 10px;
    padding-right: 10px;
}

.fotoservis-card {
    width: 100%;
    min-width: 260px;
    max-width: 348px;
    margin: 15px auto;
    position: relative;
}

.fotoservis-card-zag {
    color: white;
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: normal;
    text-transform: uppercase;
    text-align: center;
    line-height: 1;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 23px;
    background: #0039a6;
    margin: 0;
    border-radius: 10px 10px 0 0;
}

.fotoservis-card-addr {
    padding: 10px;
    padding-bottom: 12px;
    background-color: #3c3c3c;
    margin: 0;
    color: #fefefe;
    font-size: 14px;
    font-weight: 300;
    font-style: normal;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
}

.fotoservis-card-phones {
    background-color: #0039a6;
    padding: 14px;
}

.map-mbtn {
    background-color: #a0ca4c
}

.map-mbtn:before {
    content: '';
    position: absolute;
    top: 50%;
    left: 38px;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-image: url(/img/icon/button-click.png);
    background-position: center center;
    background-repeat: no-repeat;
    width: 30px;
    height: 30px;
}

.fotoservis-card-addr-btn {
    background-color: #a0ca4c;
    color: #fff;
    border-radius: 50px;
    text-align: center;
    position: relative;
    display: block;
    cursor: pointer;
    padding: 10px 10px 10px 30px;
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
}

.content__white {
    max-width: 1600px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px 30px;
    -webkit-box-shadow: 0 0 6px -1px rgb(0 0 0 / 25%);
    box-shadow: 0 0 6px -1px rgb(0 0 0 / 25%);
    margin: auto;
}

.custom_style_phone {
    color: #fff;
    white-space: nowrap;
    margin-top: 6px;
    display: block;
    font-weight: 700;
}

.section_text {
    /*display: flex;*/
    margin-top: 30px;
}

.seo-text {
    border-radius: 5px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, .5);
    background-color: white;
    padding: 25px;
    line-height: 25px;
    transition: all 2s;
    overflow: hidden;
    position: relative;
    max-height: 3500px;
}

.seo-text h2 {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.seo-text p {
    margin: 10px;
    margin-inline-start: 20px;
}

.seo-text ul {
    margin-left: 30px;
}

.seo-text li {
    display: list-item;
    list-style-type: disc;
    padding-inline-start: 1ch;
}

.seo-text li::marker {
    color: #0039a6;
    font-size: 25px;
    padding-inline-start: 20px;
}

.seo-text .vazno {
    border-left: 5px solid red;
    padding-left: 10px;
}

.seo-text img {
    float: left;
    min-width: 200px;
    max-width: 300px;
    border-radius: 5px;
    margin: 7px 25px 7px 0;
}

.seo-text-hide {
    max-height: 320px;
}

.seo-text-button {
    margin-top: 30px;
    padding: 10px;
    text-align: center;
    border: 2px solid #0039a6;
    border-radius: 15px;
    max-width: 250px;
    font-size: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: .3s;
}

.seo-text-gradient {
    position: absolute;
    bottom: 0;
    height: 25%;
    width: 100%;
    background: linear-gradient(0deg, #fff, rgba(255, 255, 255, 0));
}

.seo-text-button:hover {
    background-color: #0039a6;
    color: white !important;
    transition: .3s;
}

.addr-sev {
    color: #0039a6;
}

.addr-kal {
    color: #5bc0de;
}

.addr-mich {
    color: #6f42c1;
}

.addr-dmitr {
    color: #a0ca4c
}

.gallery {
    padding-top: 50px;
}

@media (max-width: 576px) {
    .gallery {
        padding-top: 32px;
    }
}

.btn-reset-gallery {
    border: none;
    padding: 0;
    background: transparent;
    cursor: pointer;
}

.gallery__title {
    padding: 0 15px;
    max-width: 1150px;
    margin: 0 auto;
    margin-bottom: 40px;
}

@media (max-width: 576px) {
    .gallery__title {
        padding: 0 30px;
    }
}

.gallery__inner {
    position: relative;
}

.gallery__swiper-button-prev {
    display: block;
    width: 20px;
    height: 20px;
    border-top: 4px solid #0039a6;
    border-right: 4px solid #0039a6;
    position: absolute;
    -webkit-transform: rotate(225deg);
    -ms-transform: rotate(225deg);
    transform: rotate(225deg);
    top: 45%;
    left: calc((100vw - 1320px) / 2 - 95px);
}

@media (max-width: 1500px) {
    .gallery__swiper-button-prev {
        left: 15px;
    }
}

@media (max-width: 576px) {
    .gallery__swiper-button-prev {
        top: 35%;
        width: 15px;
        height: 15px;
    }
}

.gallery__swiper-button-next {
    display: block;
    width: 20px;
    height: 20px;
    border-top: 4px solid #0039a6;
    border-right: 4px solid #0039a6;
    position: absolute;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 45%;
    right: calc((100vw - 1320px) / 2 - 95px);
}

@media (max-width: 1500px) {
    .gallery__swiper-button-next {
        right: 15px;
    }
}

@media (max-width: 576px) {
    .gallery__swiper-button-next {
        top: 35%;
        width: 15px;
        height: 15px;
    }
}

.gallery-slider {
    height: 240px;
    max-width: 1320px;
}

.error-title {
    font-size: 30px;
    text-align: center;
}


@media (max-width: 1199px) {
    .header-page__inner {
        justify-content: space-between;
    }

    .header-center-addrw {
        padding-left: unset;
        padding-right: unset;
    }

    .header-center-addrw-text {
        width: unset;
        padding-left: unset;
        padding-right: unset;
    }

    .header-center-addrw-text-zag {
        font-size: 11px;
    }

    .header-center-addrw-text span {
        font-size: 11px;
    }

    .header-center-addrw-text a {
        font-size: 12px;
    }

    .block_addresses--card {
        flex-basis: 34%;
    }
}

@media (max-width: 1800px) {
    .container2 {
        max-width: 1600px;
    }

    .header-center-addrw {
        flex-wrap: nowrap;
    }

    .header-center-addrw-text {
        width: auto;
        margin-left: 10px;
        margin-right: 10px;
    }

}

@media (max-width: 1600px) {
    .block_addresses--card {
        flex-basis: 34%;
        flex-wrap: nowrap;
    }

    /*.fotoservis-card {*/
    /*    min-width: 260px;*/
    /*    max-width: 400px;*/
    /*}*/
}

#ya-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.splitscreen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    width: calc(100% + 10px * 2);
    max-width: 100%;
    margin: -10px 0;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

@media screen and (max-width: 1025px) {
    .splitscreen {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start
    }
}

/*@inculde to(860) {}*/

.splitscreen__item {
    padding: 10px;

    position: relative;
    max-height: calc(100% - 10px * 4);
}

.splitscreen__item_full {
    width: calc(100% - 10px * 2)
}

.splitscreen__item_third {
    width: calc(100% / 3 - 10px * 2)
}

.splitscreen__item_third.brand__image_mobile {
    display: none;
}

@media screen and (max-width: 1025px) {
    .splitscreen__item_third {
        width: calc(50% - 10px * 2);
        margin-left: auto;
        margin-right: auto
    }

    .splitscreen__item_third.brand__image {
        display: none;
    }

    .splitscreen__item_third.brand__image_mobile {
        display: block;
    }
}

@media screen and (max-width: 768px) {
    .splitscreen__item_third {
        width: calc(100% - 10px * 2)
    }
}

.splitscreen__item_two-third {
    width: calc(200% / 3 - 12px * 2)
}

@media screen and (max-width: 1025px) {
    .splitscreen__item_two-third {
        width: calc(100% - 10px * 2)
    }
}

#map2 {
    position: relative;
    background: #FFF;
}

#map2 #ya-map {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0
}

#map2 #ya-map.fullscreen {
    position: fixed;
    background: initial;
    width: 100vw;
    height: 100vh;
    z-index: 1000
}

#map2 .white-canvas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: radial-gradient(ellipse at center right, hsla(0, 0%, 100%, 0) 40%, hsla(0, 0%, 100%, .9) 60%, #fff 100%);
    cursor: pointer
}

#map2 .container {
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: relative;
}

#map2 .left-content .section-title {
    font: 36px/42px Roboto;
    color: #000;
    margin-bottom: 40px
}

#map2 .left-content .section-title span {
    font-family: RobotoItalic
}

#map2 .left-content .address {
    font: 32.5px/32.5px Roboto;
    color: #3f9dcc;
    margin-bottom: 15px
}

#map2 .left-content .section-subtitle {
    font: 18.79px/28.18px Roboto;
    letter-spacing: .02em;
    color: #000;
    max-width: 410px;
    margin-bottom: 44px
}

#map2 .left-content .section-subtitle span {
    font-family: HelveticaNeueCyr Medium
}

#map2 .left-content .form-consultation {
    max-width: 500px;
    width: 100%;
    margin-bottom: 75px
}

#map2 .left-content .form-consultation .form-title {
    font: 13.32px/18.5px Roboto;
    letter-spacing: .1em;
    text-transform: uppercase;
    color: #000;
    padding-left: 10px;
    margin-bottom: 18px
}

#map2 .left-content .form-consultation label {
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 15px
}

#map2 .left-content .form-consultation label:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 30px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(../img/section5-8/call.png) 50% no-repeat;
    background-size: cover;
    opacity: .2
}

#map2 .left-content .form-consultation label input {
    width: 100%;
    height: 72px;
    padding-left: 74px;
    padding-right: 30px;

    letter-spacing: .1em;
    text-transform: uppercase;
    border-radius: 12px/50%;
    box-shadow: 0 1px 51px 0 rgba(28, 81, 96, .2);
    background: #fff;
    outline: none;
    border: none
}

#map2 .left-content .form-consultation button {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    height: 72px;
    padding-left: 75px;
    border-radius: 12px/50%;
    background: linear-gradient(90deg, hsla(0, 0%, 100%, .5) 50%, hsla(0, 0%, 100%, .2));
    border: 1.5px solid #28a9e5;
    outline: none;
    font: 14px/14px Roboto;
    letter-spacing: .1em;
    text-transform: uppercase;
    text-align: left;
    color: #28a9e5;
    cursor: pointer;
    transition: all .3s ease-in-out
}

#map2 .left-content .form-consultation button:before {
    content: "";
    position: absolute;
    right: 50px;
    width: 14px;
    height: 10px;
    background: url(../img/section5-8/arrow-right-blue-btn.svg) 50% no-repeat;
    background-size: contain;
    transition: all .3s ease-in-out
}

#map2 .left-content .form-consultation button:hover {
    border: 1.5px solid rgba(40, 169, 229, .5)
}

#map2 .left-content .form-consultation button:hover:before {
    opacity: .5
}

#map2 .left-content .form-consultation button .decor {
    position: absolute;
    bottom: -1.5px;
    left: 20px;
    width: 98px;
    height: 84px;
    /* background: url(../img/section5-8/man.png) 50% no-repeat; */
    background-size: contain
}

#map2 .left-content .phone-number {
    font: 40.84px/40.84px Roboto;
    letter-spacing: .14em;
    color: #000;
    padding-left: 68px;
    margin-bottom: 15px;
    position: relative
}

#map2 .left-content .phone-number a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid hsla(0, 0%, 100%, 0);
    transition: all .3s ease-in-out
}

#map2 .left-content .phone-number a:hover {
    border-bottom: 1px solid
}

#map2 .left-content .phone-number:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 39px;
    height: 39px;
    background: url(../img/section5-8/call.png) 50% no-repeat;
    background-size: contain
}

#video-bg {
    position: absolute;
    z-index: -1;
    width: 100%;
    left: 0;
    top: 0;
    overflow: hidden;
}

.video_win {
    width: 100%;
    min-height: 100vh;
    object-fit: cover;
}

.block1-wraper {
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .video_win {
        width: 100%;
        height: 100%;
        min-height: unset;
        border-radius: 10px
    }

    #video-bg {
        position: unset;
        min-width: unset;
        min-height: unset;
    }
    .block1-wraper {
        background-color: white!important;
        border-top: 1px solid black;

    }

    .line {
        border-bottom: 2px solid #0039a6;
        width: 80%;
        margin: auto;
    }

    .block1 h1 {
        color: black;
    }
    .block1-btnwrap .mbtn {
        color: black;
    }

    .block1-utpwrap .utp {
        color: black;
    }

}

.vacancy-title {
    font-size: 18px;
}

.vacancy-item {
    font-size: 16px;
}

.vacancy-header-text {
    font-size: 18px;
}

.vacancy-items li:last-child {
    padding-top: 10px;
}

.vacancy-btns {
    display: flex;
}

.vacancy-btn {
    background-color: #0039a6;
    color: white;
    margin: 10px;
}

@media (max-width: 767px) {
    .vacancy-btns {
        flex-direction: column;
    }
}

.block1-utpwrap .utp:before,
.block1-btnwrap .mbtn,
.block1-btnwrap .mbtn:hover,
.mbtng,
.mbtng:hover,
.mbtn2g:hover {
    background-image: -webkit-gradient(linear, left top, right top, from(#0039a6), to(#d52b1e));
    background-image: -o-linear-gradient(left, #0039a6 0, #d52b1e 100%);
    background-image: linear-gradient(to right, #0039a6 0, #d52b1e 100%);
}

.block1-btnwrap .mbtn2 {
    background: none;
}

.block1-btnwrap .mbtn2r {
    border-color: #d52b1e;
}

.block1 {
    background: url('../img/avtoservis.jpg') center no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.markiblock .slick-prev,
.markiblock .slick-next {
    background-color: #d52b1e;
}

/*
Стили блока рейтинга
*/

.raiting {
    padding-top: 50px;
}

.raiting h2 {
    text-align: center;
    margin-bottom: 50px;
}

.raiting_description {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /*justify-content: space-between;*/
    align-items: center;
    align-self: self-start;
    margin-bottom: 25px;
}

.raiting_description .point {
    margin-left: 10px;
    font-size: 18px;
}

.raiting_description .iz {
    margin-left: 5px;
    font-size: 14px;
}

.raiting_description .vsego {
    margin-left: 10px;
    font-weight: 400;
    color: #6c757d !important;
}

.raiting_description .desc {
    margin-left: 10px;
    font-weight: 500;
    color: #6c757d !important;
}

.raiting_block {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.integrator_card {
    width: 23%;
    height: 175px;
    background-color: white;
    /*border: 1px solid black;*/
    border-radius: 5px;
}

.integrator_card:hover {
    text-decoration: none;
}

.integrator {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: inset 0 0 5px 0 black;
    border-radius: 5px;
    transition: all .3s;
}

.integrator:hover {
    box-shadow: inset 0 0 0 0 black;
    box-shadow: 0 0 7px 0 #0039a6;
    transition: all .3s;
}

.integrator .int_logo {
    width: fit-content;
    max-height: 40px;
    background-size: auto auto;
    margin-top: 10px;
}

.integrator .int_rait {
    margin-top: 15px;
}

.integrator .int_five {
    margin-bottom: 10px;
}

.raiting .star {
    font-size: x-large;
    width: 28px;
    display: inline-block;
    color: gray;
    position: relative;
    text-align: center;
}

.raiting .star:before {
    content: "\2605";
}

.raiting .on {
    color: #ffd700;
}

.raiting .half:after {
    content: "\2605";
    color: #ffd700;
    position: absolute;
    margin-left: 0;
    width: 12px;
    left: 2px;
    overflow: hidden;
}


@media (max-width: 991px) {
    .integrator_card {
        width: 48%;
        height: 175px;
        background-color: white;
        /*border: 1px solid black;*/
        border-radius: 5px;
        margin-bottom: 4%;
    }
}

.rabotiblock {
    margin-top: 60px
}

.rabotiblock-slider-s {
    padding: 20px
}

.rabotiblock-slider-s img {
    cursor: pointer
}

.section__title {
    position: relative;
    margin: 0 0 22px;
    font-size: 36px;
    text-transform: uppercase;
    z-index: 1
}

.section__text {
    margin-bottom: 26px;
    font-size: 19px
}

.b12 {
    padding: 90px 0 60px;
    background-color: #d9ddeb;
    color: #2d314a
}

.contacts {
    max-width: 300px;
    margin: auto;
    display: flex;
    flex-direction: column
}

.contact {
    position: relative;
    padding-left: 57px;
    font-size: 16px;
    line-height: 1.2
}

.contact.icon-map::before {
    background-image: url(/img/new/icon-map.png)
}

.contact.icon-phone::before {
    background-image: url(/img/new/icon-phone.png)
}

.contact.icon-mail::before {
    background-image: url(/img/new/icon-mail.png)
}

.contact.icon-calendar::before {
    background-image: url(/img/new/icon-calendar.png)
}

.contact::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 36px;
    height: 36px;
    background-color: #fff;
    border-radius: 50%;
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: 32%;
    top: 0
}

.contact + .contact {
    margin-top: 2rem
}

.contact__title {
    margin-bottom: 7px;
    font-size: 21px;
    font-weight: 600
}

.contact.icon-metro::before {
    background-image: url(/img/metro-icon-32x32-moscow.png);
    background-size: 44%;
}
.rey_map_contacts_item {
    margin-bottom: 0;
}

@media (max-width: 480px) {
    .b12 {
        padding-bottom: 0
    }

    .contacts {
        margin-bottom: 60px
    }
}

@media (min-width: 480px) {
    .b12 {
        padding-bottom: 0
    }

    .contacts {
        margin-bottom: 60px
    }
}

@media (min-width: 768px) {
    .section__title {
        font-size: 40px
    }

    .b12 {
        padding-bottom: 60px
    }

    .b12 .section__title,
    .b12 .section__text {
        margin: 0 0 36px;
        text-align: left
    }

    .contacts {
        margin: 0
    }
}

@media (min-width: 1240px) {
    .b12 {
        padding-bottom: 110px;
        background: #d9ddeb url(/img/new/bg-contacts.svg) 0 100% no-repeat
    }
}