.ymap-container {
    position: relative;
    margin: 0;
    overflow: hidden;
    height: 100%;
    background-position: center center;
    background-size: cover;
}

#map-yandex {
    position: relative;
    z-index: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: transparent;
}
.map_block {
    min-height: 500px;
    margin-bottom: 0;
}
