<div class="rabotiblock block">
    <div class="container container2">
        {% if app.request.pathInfo == '/certificates/' %}
            <h1 class="zag">Сертификаты</h1>
        {% else %}
            <h2 class="zag">Сертификаты</h2>
        {% endif %}
        <div class="gallery__inner">
            <div class="swiper certificate-slider">
                <div class="swiper-wrapper">
                    {% for i in 1..8 %}
                        <div class="swiper-slide">
                            <a class="gallery"  data-fslightbox="gallery" href="{{ asset('img/certificate/'~i~'.jpg') }}" style="height: 40%">
                                <source data-srcset="{{ asset('img/certificate/'~i~'.jpg') | imagine_filter('thumbnail_cert_block') }}" type="image/webp">
                                <img class="lazy cert-img" data-src="{{ asset('img/certificate/'~i~'.jpg') | imagine_filter('thumbnail_cert_block') }}" alt="сертификат">
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="slider-buttons">
                <button class="btn-reset-gallery gallery__swiper-button-prev cert-prev"></button>
                <button class="btn-reset-gallery gallery__swiper-button-next cert-next"></button>
            </div>
        </div>
    </div>
</div>



