<div class="accordion_anchor" id="header_raiting">
    <div class="raiting">
        <div class="container">
            <h2>Независимые отзывы:</h2>

            <div class="raiting_description" itemprop="aggregateRating" itemscope="itemscope" itemtype="http://schema.org/AggregateRating">
                <meta itemprop="worstRating" content="1">
                <span class="stars">
                    <span class="star on"></span>
                    <span class="star on"></span>
                    <span class="star on"></span>
                    <span class="star on"></span>
                    <span class="star half"></span>
                </span>
                <b class="point" itemprop="ratingValue">4.9</b>
                <span class="iz">из</span>
                <span class="iz" itemprop="bestRating">5</span>
                <i class="vsego" itemprop="ratingCount">15 оценок</i>
                <span class="desc">Рейтинг составлялся по отзывам от клиентов.</span>
            </div>

            <div class="raiting_block">

                <a class="integrator_card" href="https://www.avito.ru/moskva/predlozheniya_uslug/avtoservis_3631296689" target="_blank">
                    <div class="integrator">
                        <img class="int_logo" src="{{ asset('img/integrator_logo/avito.webp') }}" alt="avito">
                        <i class="int_rait">Рейтинг</i>
                        <div class="int_stars">
                            <span class="star on"></span>
                            <span class="star on"></span>
                            <span class="star on"></span>
                            <span class="star on"></span>
                            <span class="star on"></span>
                        </div>
                        <i class="int_five">5.0 из 5</i>
                    </div>
                </a>
                <a class="integrator_card" href="https://yandex.ru/maps/-/CDBh6Too" target="_blank">
                    <div class="integrator">
                        <img class="int_logo" src="{{ asset('img/integrator_logo/yandex.webp') }}" alt="yandex">
                        <i class="int_rait">Рейтинг</i>
                        <div class="int_stars">
                            <span class="star on"></span>
                            <span class="star on"></span>
                            <span class="star on"></span>
                            <span class="star on"></span>
                            <span class="star half"></span>
                        </div>
                        <i class="int_five">4.6 из 5</i>
                    </div>
                </a>
                <a class="integrator_card" href="https://zoon.ru/msk/autoservice/avtosalon_avtokar_na_metro_izmajlovo/#reviews" target="_blank">
                    <div class="integrator">
                        <img class="int_logo" src="{{ asset('img/integrator_logo/rating-logo-zoon.png') }}" alt="zoon">
                        <i class="int_rait">Рейтинг</i>
                        <div class="int_stars">
                            <span class="star on"></span>
                            <span class="star on"></span>
                            <span class="star on"></span>
                            <span class="star on"></span>
                            <span class="star half"></span>
                        </div>
                        <i class="int_five">4.4 из 5</i>
                    </div>
                </a>
                <a class="integrator_card" href="https://2gis.ru/moscow/firm/70000001047760081" target="_blank">
                    <div class="integrator">
                        <img class="int_logo" src="{{ asset('img/integrator_logo/2gis.webp') }}" alt="2gis">
                        <i class="int_rait">Рейтинг</i>
                        <div class="int_stars">
                            <span class="star on"></span>
                            <span class="star on"></span>
                            <span class="star on"></span>
                            <span class="star on"></span>
                            <span class="star on"></span>
                        </div>
                        <i class="int_five">5.0 из 5</i>
                    </div>
                </a>




            </div>

        </div>

    </div>


</div>