{% if  service is defined %}
    {% set seo_text = service.seoText %}
{% else %}
    {% set seo_text = 'remont-dvigatelya' in app.request.httpHost ? '<h2>Ремонт двигателя. </h2>
            <p>Двигатель – это главный агрегат автомобиля. Он вырабатывает энергию, благодаря
                которой машина получает возможность передвигаться. Также это усилие позволяет работать механизмам
                навесного
                оборудования. Функционирование ДВС происходит за счет сжигания топливно-воздушной смеси. В качестве
                горючего
                могут использоваться бензин, дизель или газ. Также существуют гибридные установки, которые
                предусматривают
                совместную работу ДВС и электромотора.</p><p>Основные компоненты двигателя:</p>
            <ul>
                <li> Блок цилиндров</li>
                <li> Головка блока</li>
                <li> Картер</li>
                <li> Клапанная крышка</li>
                <li> Поршневая группа</li>
                <li> Коленчатый вал</li>
                <li> Распредвалы</li>
                <li> Клапанный механизм</li>
                <li> Привод ГРМ</li>
                <li> Прокладки и сальники</li>
            </ul><p class="vazno"> Чаще всего встречается цепной и ременный привод ГРМ. Реже устанавливается цепь
            вместе
            с ремнем.</p><p>Ремонт двигателя требуется при выявлении неполадок в работе агрегата. Обычно проблемы
            проявляются на больших пробегах, однако многое зависит от условий эксплуатации автомобиля и от подхода к
            обслуживанию.</p><p>Неисправности могут проявляться следующим образом:</p>
            <ul>
                <li> Снижение мощных характеристик</li>
                <li> Троение</li>
                <li> Повышенный расход топлива</li>
                <li> Повышенный расход масла</li>
                <li> Посторонние шумы при работе ДВС</li>
                <li> Самопроизвольное отключение</li>
                <li> Отказ в срабатывании</li>
            </ul><p>Ремонт двигателя предполагает приобретение запчастей. Отметим, что цена оригинальной продукции
            может
            быть весьма высока, но на рынке также представлены и аналоги, которые обходятся дешевле. Однако от
            выбора
            деталей производства малоизвестных компаний стоит отказаться, потому что они зачастую быстро приходят в
            негодность.</p><p>Ремонт двигателя может подразумевать проведение следующих работ:</p>
            <ul>
                <li> Замена прокладок и сальников</li>
                <li> Замена распредвалов</li>
                <li> Замена клапанов</li>
                <li> Замена поршней</li>
                <li> Ремонт коленчатого вала</li>
                <li> Гильзовка</li>
                <li> Замена поддона картера</li>
                <li> Сварка блока</li>
                <li> Замена ГБЦ</li>
            </ul><p class="vazno"> Любые восстановительные работы начинаются с диагностики силового агрегата. Она
            включает в себя проверку блоков управления на наличие ошибок, визуальный осмотр, а иногда и
            использование
            эндоскопа.</p><p>Ремонт двигателя нужно поручить профессионалам. Кустарные методики восстановительных
            работ
            могут дать только временный эффект, в связи с чем проблемы вскоре возникнут снова. Поэтому рекомендуем
            не
            рисковать, а воспользоваться услугами мастеров специализированного автосервиса «Моторист», который
            находится
            в Москве. Здесь есть все необходимое для быстрого решения таких задач с гарантией качества.</p> ' %}
{% endif %}
{% if seo_text != '' %}
    <div class="section_text container">
        <div class="seo-text seo-text-hide">
            <div class="seo-text-gradient"></div>
            {{ seo_text | raw }}
        </div>
        <a class="seo-text-button" id="seo-text-button">Развернуть</a>
    </div>
{% endif %}

