<div class="block cenablock">
    <div class="container container2">
        {% if app.request.pathInfo == '/services/' %}
            <h1 class="zag"> Услуги и цены </h1>
        {% else %}
            <h2 class="zag"> Услуги и цены </h2>
        {% endif %}
        <div class="row">
            {% for service in services %}
                {{ include('widget/card_service.html.twig') }}
            {% endfor %}
        </div>
        {% if services|length > 8 %}
            <div class="cenablock-pokwrap">
                <div class="cenablock-pokbtn mbtn mbtn2 mbtn2g">Развернуть больше услуг</div>
            </div>
        {% endif %}
    </div>
</div>