<section class="section b12" id="contacts">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="section__title  text-center">Контакты</div>
                <div class="section__text  text-center">Автосервис АМ Плюс - Ремонт и обслуживание авто в Москве:</div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="rey_map_contacts_item">
                            <div class="contact icon-metro">
                                <div class="contact__title">Семеновская</div>
                                Москва, ул. ул. Ибрагимова 31 ас4
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="rey_map_contacts_item">
                            <div class="contact icon-phone">
                                <div class="contact__title">Слесарный цех</div>
                                <a href="tel:+74957434544" class="contact-btn roistat-phone roistat-phonevolvo-tel header__phone-number">+7 (495) 743-45-44</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6 offset-md-6">
                        <div class="rey_map_contacts_item">
                            <div class="contact icon-phone">
                                <div class="contact__title">Кузовной цех</div>
                                <a href="tel:+79091510000" class="contact-btn roistat-phone roistat-phonevolvo-tel header__phone-number">+7 (909) 151-00-00</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mb-4">
                    <div class="col-md-6">
                        <div class="rey_map_contacts_item">
                            <div class="contact icon-mail">
                                <div class="contact__title">E-mail</div>
                                aatplus@yandex.ru
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="rey_map_contacts_item">
                            <div class="contact icon-calendar">
                                <div class="contact__title">Режим работы</div>
                                Ежедневно<br>с 09:00 до 21:00
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 map">
                <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Afeebfaaa2390843f273646059d41ee04569401667ed59fab92515a002182776d&amp;width=100%&amp;height=100%&amp;lang=ru_RU&amp;scroll=true"></script>
            </div>
        </div>
    </div>
</section>