{% if brand is defined %}
        <title>{{ get_title_brand_page(service_entity, brand) }}</title>
{% elseif model is defined %}
    <title>{{ get_title_model_page(service_entity, model) }}</title>
{% elseif is_simple_page(app.request.pathInfo) %}
    <title>{{ get_title_simple_page(app.request.pathInfo, service_entity) }}</title>
{% elseif brand is not defined %}
    <title>{{ get_title_basic_site() }}</title>
{% endif %}

