<div class="video-widget" data-state="default">
    <div class="video-widget__container">
        <video id="video-widget__video"   loop="" autoplay="" playsinline="" preload="auto" muted="muted" controlslist="nodownload" disablepictureinpicture="" loading="lazy" class="video-widget__video" src="/video/mini.m4v?dl=0">
            <source src="/video/mini.m4v" type="video/mp4">
        </video>
        <div class="video-widget__close"></div>
    </div>
</div>